{% extends 'base.html' %} {% load markdownify %} {% block content %}
<main>
  <div class="login-form">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </div>
</main>
{% endblock content %}
