{% extends 'base.html' %} {% load markdownify %} {% block content %}
<main>
  <div class="my-tasks-list">
    <h1>My Tasks</h1>
    <!--if there are tasks assigned to the person-->
    {% if tasks %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Is completed</th>
        </tr>
      </thead>

      <tbody>
        <!--for each task that is assigned to the logged person-->
        {% for task in tasks %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.start_date }}</td>
          <td>{{ task.end_date }}</td>
          <!--if task is completed-->
          {% if task.is_completed %}
          <td>Done</td>
          {% else %}
          <td>
            <form method="post" action="{% url 'complete_task' task.id %}">
              {% csrf_token %}
              <input type="hidden" name="is_completed" value="True" />
              <button>Complete</button>
            </form>
          </td>
          {% endif %}
        </tr>
        <!--if the task is completed-->
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You have no tasks</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
